#manualEntryForm label.form-label {
	color: 242428;
}

input#distanceInput,
input#elevation-input #sportSelectionInput {
	max-width: 130px;
}

#sportSelectionInput {
	max-width: 258px;
}

input#duration-input-hr,
input#duration-input-min,
input#duration-input-s {
	max-width: 82px;
}

input#dateInput {
	max-width: 146px;
}

input#timeInput {
	max-width: 100px;
}

input#titleInput,
textarea#descriptionInput {
	max-width: 536px;
}

@media screen and (max-width: 990px) {
	input#distanceInput,
	input#elevation-input #sportSelectionInput {
		max-width: none;
	}

	#sportSelectionInput {
		max-width: none;
	}

	input#duration-input-hr,
	input#duration-input-min,
	input#duration-input-s {
		max-width: none;
	}

	input#dateInput {
		max-width: none;
	}

	input#timeInput {
		max-width: none;
	}

	input#titleInput,
	textarea#descriptionInput {
		max-width: none;
	}

	.activity-stats-col {
		flex: initial;
	}
}

div#distanceInputWrapper .dropdown-menu.dropdown-menu-end,
div#elevationInputWrapper .dropdown-menu.dropdown-menu-end {
	opacity: 100% !important;
	transition: none !important;
	border-radius: 5px;
	border: 1px solid #dfdfe8;
	margin-top: -3px;
}

button#distanceDropdown:hover,
button#distanceDropdown:focus,
button#elevationDropdown:hover,
button#elevationDropdown:focus {
	background-color: #f0f0f5 !important;
	border: 1px solid #007fb6;
	color: #242428;
}

div#distanceInputWrapper .dropdown-menu.dropdown-menu-end a.dropdown-item:hover,
div#distanceInputWrapper .dropdown-menu.dropdown-menu-end a.dropdown-item:focus,
div#elevationInputWrapper .dropdown-menu.dropdown-menu-end a.dropdown-item:hover,
div#elevationInputWrapper .dropdown-menu.dropdown-menu-end a.dropdown-item:focus {
	background-color: #f0f0f5 !important;
	color: #242428;
}

form#manualEntryForm .form-control:focus,
form#manualEntryForm select.form-select:focus {
	border: 1px solid #007fb6;
  box-shadow: none;
}

button#distanceDropdown,
button#elevationDropdown {
    border:1px solid #dfdfe8;
        background-color: #fff;
}

.dropdown-menu.show.dropdown-menu-end {
    --bs-dropdown-min-width: 7rem!important;
}

/* form#manualEntryForm input:active{
    border: 1px solid #007fb6 !important;
    border-color: #ff0000;
} */

@media screen and (max-width: 990px) {
	.user-upload-container {
		padding-left: 20px;
		padding-right: 20px;
	}
}
