div#activityDropdownOptions {
	opacity: 100%;
}

.activity-details-container {
	margin-top: 110px;
}

#activityDetailPageBook {
	--bs-accordion-border-radius: 0px !important;
	--bs-accordion-inner-border-radius: 0px !important;
}

h2#activity-details-book-header button.accordion-button {
	background-color: #dfdfe8;
	padding: 0px;
	display: block;
	min-height: 50px;
}

h2#activity-details-book-header button.accordion-button a {
	font-size: 20px;
	text-decoration: none;
	color: #242428;
}

h2#activity-details-book-header button.accordion-button a:hover {
	font-size: 20px;
	text-decoration: underline;
	color: #007fb6;
}

div#socials {
	float: inline-end;
	padding: 0px 4px 0px 0px;
	margin: 0px;
	min-height: 50px;
}

div#activity-details-book-header-Row {
	margin-left: 0px;
	min-height: 50px;
}

#activity-details-book-header-Col {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 50px;
}

div#activityDetailsTypeInfo {
	font-size: 20px;
}

div#socials button {
	border-radius: 0px;
	background-color: transparent;
	border: 1px transparent;
	font-size: 17px;
}

div#socials button:hover {
	background-color: #e7e7ef;
}

#facebook-icon {
	color: #395597;
}

#twitter-icon {
	color: #00aced;
}

#share-icon,
.activity-details-toggle-icon {
	color: #000;
	font-size: x-large;
}

.activity-details-kudos,
.activity-details-toggle-icon {
	color: #242428;
}

button .activity-details-kudos:hover {
	color: #242428;
}

button.activity-details-kudos.btn.btn-secondary {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

#activity-details-user-image {
	border-radius: 50%;
	background-color: #f7f7fa;
	width: 100px;
	height: 100px;
	display: block;
}

#activityDetailsLeftPageCol {
	padding-right: 0px;
	margin-right: 0px;
	max-width: 130px;
}

p.activity-details-name {
	font-size: 28px;
	font-weight: 500;
	line-height: 0px;
}

p.activity-details-description {
	padding-top: 12px;
}

.activity-details-added-image {
	padding-top: 20px;
}

.activity-details-left-page {
	border-right: 1px solid #dee2e6;
	padding: 1.25rem;
}

.activity-details-right-page {
	padding: 1.25rem;
	padding-left: 0px;
}

.accordion-body {
	padding: 0px !important;
}

#activityDetailsDuration {
	font-size: 28px;
}

p.activity-details-right-duration {
	border-bottom: 1px solid #dee2e6;
	padding-bottom: 10px;
}

div#activityDropdownOptions {
	background: #fff;
	border: 1px solid #f0f0f5;
	min-width: 120px;
	white-space: normal;
	transition: none;
	position: absolute;
	inset: 0px auto auto 0px;
	transform: translate(180px, -1px) !important;
	width: 100%;
}
div#activityDropdownOptions .dropdown-item {
	font-size: 15px;
	padding: 9px 10px;
	line-height: 1.2;
	color: #242428;
}

@media screen and (max-width: 990px) {
	div#activityDetailButtonGroupCol {
		padding-bottom: 20px;
	}

	.activity-details-container.container .col-10 {
		width: 100%;
	}

	div#activityDropdownOptions .dropdown-item {
		padding: 9px 18px;
	}
}

@media screen and (max-width: 768px) {
	p.activity-details-name {
		line-height: 28px;
	}

	p.activity-details-description {
		padding-top: 0px;
	}

	.activity-details-added-image {
		padding-top: 0px;
	}

	div#activity-details-book-header-Row .col-3 {
		width: 100%;
	}
}

@media screen and (max-width: 565px) {
	.edit-activity-form-container.container .col {
		flex: none;
	}
}

@media screen and (max-width: 595px) {
	.activity-details-container.container {
		padding-left: 26px;
		padding-right: 23px;
	}
}
