.dashboard-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 30px;
}

/* Home page structure */
.App .mt-5.container,
.container.footerMaxWidth {
  max-width: 1254px !important;
  padding-right: 20px;
  padding-left: 20px;
}

/* feed ui activity images */
.feed-ui-activity-images {
	display: flex;
}

.feed-ui-activity-imageLeft {
	margin-right: 10px;
}

.feed-ui-activity-imageLeft:last-child {
	margin-right: 0;
}

/* button ontop of feed ui */
.feed-ui-activity-images {
	display: flex;
}

.feed-ui-activity-imageLeft {
	position: relative;
	margin-right: 10px; /* Adjust the margin as needed */
}

.feed-ui-activity-imageLeft a {
	display: block;
}

.feed-ui-activity-imageLeft Button {
	position: absolute;
	top: 10px; /* Adjust the top distance as needed */
	left: 10px; /* Adjust the left distance as needed */
	z-index: 1; /* Make sure the buttons are above the images */
}

.feed-ui-activity-imageLeft a {
	display: block;
}

.feed-ui-activity-imageLeft Button#saveRouteBtn {
	opacity: 0; /* Initially hide the buttons */
	transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.feed-ui-activity-imageLeft:hover Button#saveRouteBtn {
	opacity: 1; /* Show the buttons when hovering over the link */
}