/*The button that is at the navigation with text Start Trial Override Bootstrap styles for the button */
.experiment.btn.btn-primary:focus,
.experiment.btn.btn-primary:active {
    background-color: #fc5200 !important;
    border-color: #fc5200 !important;
    color: #fff !important;
}

.experiment.btn.btn-primary:hover {
    background-color: rgb(211, 70, 1);
    border-color: rgb(187, 62, 1);
    color: rgb(242, 240, 237);
}

/* Keep the normal state styles */
.experiment.btn.btn-primary {
    background-color: #fc5200;
    border-color: #fc5200;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    padding: 5px 20px 5px 20px;
}

/* Dropdown styles for for the languages button in the footer */
.selection {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #242428;
}

.dropdown-wrapper {
  position: relative;
}

#languages-select {
  background-color: #fff;
  color: #000;
  position: relative;
  display: inline-block;
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}
select#languages-select {
  border-radius: 5px;
}
#languages-select:hover {
  color: #000;
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}

#languages-select:focus {
  outline: 2px rgba(0,127,182,0.5) solid;
    outline-offset: 1px;
}

/* Button styling for the RightDashboardAthleteSidebar component */
button.view-all-challenges-btn,
button.view-all-friends-btn {
  color: #fc5200;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 2px;
}

button.view-all-challenges-btn:hover,
button.view-all-friends-btn:hover {
  background-color: #ffe1d2;
  color: #fc5200;
  border: none;
}

button.view-all-challenges-btn::after,
button.view-all-challenges-btn:focus,
button.view-all-challenges-btn:visited,
button.view-all-friends-btn::after,
button.view-all-friends-btn:focus,
button.view-all-friends-btn:visited,
button.view-all-friends-btn:after {
  border: none;
  --bs-btn-active-bg: #ffe1d2;
  --bs-btn-active-color: #fc5200;
  --bs-btn-active-bg: #ffe1d2;
  --bs-btn-active-border-color: #ffe1d2;
}

button.view-all-clubs-btn,
button.view-all-clubs-btn:after {
  background-color: #fff;
  border-color: #b6b3ac;
  color: #2b2b2b;
  font-size: 14px;
  padding: 5px 8px 5px 8px;
  font-weight: 700;
  margin-top: 8px;
  border-radius: 4px;
}

button.view-all-clubs-btn {
  margin-bottom: 20px;
}

button.view-all-clubs-btn:hover,
button.view-all-clubs-btn:visited,
button.view-all-clubs-btn:focus {
  background-color: #e6e6e6;
  border-color: #d3d1cd;
  color: #2b2b2b;
  --bs-btn-active-color: #2b2b2b;
  --bs-btn-active-bg: #d3d1cd;
  --bs-btn-active-border-color: #d3d1cd;
}

button#saveRouteBtn {
	position: absolute;
	right: 10px;
	z-index: 1;
	top: 240px;
	left: auto;
}

@media screen and (max-width: 992px) {
	/* Displaying the start trial btn center and breathing space top & bottom. */
	.start-trial-btn {
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	a.experiment.btn.btn-sm.btn-primary.d-flex.align-items-center.nav-link {
		padding: 12px 32px;
	}

	/* Hiding the cancel btn, notifications, userAvatar and userUpload icons on smaller screens. */
	button.cancel-search-btn,
	.notifications-wrapper,
	a#userAvatar,
	a#userUpload {
		display: none;
	}

	/* Making the userAvatar and upload clickable from a full width perspective. */
	#fullWidthUserAvatar,
	#fullWidthUserUpload {
		width: 100%;
		display: block;
	}
}

