#editPostFormUserImg {
    border-radius: 100px;
}

.post-details-container.container {
    max-width: 700px;
}

.edit-post-details-form-inner-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
}

.edit-post-details-form-user-identity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.edit-post-details-form-user-interactions {
    display: flex;
    gap: 5px;
}

.edit-post-form-body {
    padding-top: 30px;
}

#editPostFormDescriptionGroup {
    padding-top: 10px;
}