body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f8f5 !important;
  font-size: 14px;
  line-height: 18px;
}

/* When text is highlight apply style */
::selection {
  color: #fff;
  background-color: #fc5200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MAIN NAVBAR STYLES */

/* search icon */

/* Making header fixed for scrolling*/
nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light {
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.068);
}

/* container that wraps around the nav elements */
div.container-fluid {
  height: 55px !important; 
  max-width: 1206px !important;
  display: flex;
  align-items: center;
 }

 .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0rem !important;
}
 
 .navbar {
   --bs-navbar-padding-y: 0rem !important;
   --bs-navbar-toggler-padding-y: 0rem !important;
   --bs-navbar-brand-padding-y: 0rem !important;
 } 
 
 a.mr-auto.navbar-brand {
   height: 55px;
   padding-left: 8px;
 }

 button.navbar-toggler {
  margin-right: 18px;
  border: none;
}

.open-search-icon {
  font-size: 24px;
  transform: rotate(55deg); 
}

.cancel-search-icon {
  font-size: 24px;
}
.cancel-search-btn {
  background-color: #f7f7fa00;
  border-color:#f7f7fa00;
}

.select-input {
    padding-right: 12px;
}

/* dropdown */
.dropdown-menu.show {
  border-bottom: 2px solid #fc5200;
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}


.dropdownEffect {
    border-top: 1px solid lightgray;
    margin-top: -10px;
}

/* CSS transitions to smoothly animate changes */
.dropdown-menu {
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform-origin: top;
  opacity: 0;
  transform: scaleY(0);
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: scaleY(1);
}


/* Remove the border from the default state of .nav-item.dropdown: */
.nav-item.dropdown {
  transition: lightgrey 0.3s ease;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}



.nav-item.dropdown:hover {
  border-color: lightgray; /* Change border color on hover */
}

.dropdown-menu.show:hover {
    display: block;
}

/* Dashboard */
.dashboard-dropdown-subscription,
.training-dropdown-subscription,
.explore-dropdown-subscription {
  background-color: #f7f7fa;
}

.dashboard-dropdown-subscription h6,
.training-dropdown-subscription h6,
.explore-dropdown-subscription h6 {
  font-size: 10px;
  padding: 12px 12px 0;
}

/* Remove the ::after content from dropdown-toggle */
.navbar .nav-link.dropdown-toggle::after,
.navbar .nav-link.training-toggle::after,
.navbar .nav-link.explore-toggle::after{
    content: none;
}

svg.dashboard-dropdown-icon,
svg.training-dropdown-icon,
svg.explore-dropdown-icon {
    font-size: 32px;
}

/* user side navigation */
/* Override Bootstrap styles for the button */
.experiment.btn.btn-primary:focus,
.experiment.btn.btn-primary:active {
    background-color: #fc5200 !important;
    border-color: #fc5200 !important;
    color: #fff !important;
}

.experiment.btn.btn-primary:hover {
    background-color: rgb(211, 70, 1);
    border-color: rgb(187, 62, 1);
    color: rgb(242, 240, 237);
}

/* Keep the normal state styles */
.experiment.btn.btn-primary {
    background-color: #fc5200;
    border-color: #fc5200;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    padding: 5px 20px 5px 20px;
}

#notifications {
    margin-left: 24px;
    font-size: 26px;
}

#notifications,
#userAvatar,
#userUpload {
  font-size: 22px;
}

.mdOutlineNotificationsNone-icon {
  font-size: 26px;
}

.flipped-dropdown-horizontal,
.flipped-text {
  transform: scaleX(-1);
}

.upload-center-wrapper {
    display: flex;
    align-items: center;
}

.upload-icons{
  font-size: 20px;
  margin-right: 10px;
}

.biSolidUserCircle-icon {
  padding-right: 5px;
  font-size: 32px;
}

a#dashboardDropdown:hover,
a#trainingDropdown:hover,
a#exploreDropdown:hover,
a#notifications:hover,
a#challengesLink:hover {
    color: #fc5200;
    transition: 0.1s ease;
}

#userUpload,
.hovered .explore-dropdown-icon {
  color: #fc5200;
}

/* dropdown styles */
div#basic-navbar-nav {
  background-color: #f8f9fa;
  padding-left: 20px !important;
  padding-right: 14px;

}

/* We are aligning our userAvatar and userProfiles based on screen sizes. */
.align-left {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

/* CSS styles for the hamburger icon and the X icon. */
.menu-icon {
  display: inline-block;
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 2px;
  background-color: rgb(24, 26, 27);
  border-color: rgb(115, 107, 94);
  margin: 6px 0;
  transition: 0.4s;
}

.menu-icon-close .bar1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.menu-icon-close .bar2 {
  opacity: 0;
}

.menu-icon-close .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

#xHamburger {
  display: block;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

button.navbar-toggler.collapsed {
  border: transparent;
}

button.icon-button {
  background-color: transparent;
  border: none;
  padding-left: 0px;
  z-index: 999;
}

.icon-button.user-upload,
.icon-button.color {
  color: #fc5200;
}

/* footer styles */
footer h4 {
  font-size: 20px !important;
  line-height: 18px;
  color: #000;
}

#promos-footer {
  background-color: #fff;
  color: #494950;
  padding: 24px 0;
}

.col-md-4.promo {
  padding: 16px;
}

.main-footer {
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  background-color: #f9f8f5;
  color: #494950;
  padding: 20px;
}
.main-footer a {
  color: #6d6d78;
  text-decoration: none;
}

#promos-footer .light {
  color: #6d6d78;
}

#promos-footer .promo a {
  color: #494950;
  text-decoration: none;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}
.main-footer li {
  padding-bottom: 5px;
}

img#strava-logo-footer {
  padding-right: 24px;
  margin-top: -62px;
}

/* Footer must always be at the very bottom */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

/* Dropdown styles for for the languages button in the footer */
.selection {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #242428;
}

.dropdown-wrapper {
  position: relative;
}

#languages-select {
  background-color: #fff;
  color: #000;
  position: relative;
  display: inline-block;
  font-size: 13px;
  padding-top: 0px;
  padding-bottom: 0px;
}
select#languages-select {
  border-radius: 5px;
}
#languages-select:hover {
  color: #000;
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}

#languages-select:focus {
  outline: 2px rgba(0,127,182,0.5) solid;
    outline-offset: 1px;
}

/* Home Dashboard styling */
.dashboard-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 30px;
}

.LeftDashboardAthleteSidebar,
.RightDashboardAthleteSidebar {
  width: 120%; 
}

/* LeftDashboardAthleteSidebar component */
.athlete-stats-card {
  margin-bottom: 20px;
}

img.card-img-top {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-top: -30px;
}

.card-title.h5 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 110%;
  font-weight: 800;
  text-align: center;
}

.dashboard-stats {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  align-items: stretch;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  flex-wrap: nowrap;
}

.dashboard-stats span {
  font-size: 12px;
  line-height: 16px;
  color: #525252;
  font-weight: 300;
}

svg.trainingLogIcon {
  font-size: 32px;
  rotate: -90deg;
  margin-left: 90px;
}

.dashboard-stats li {
  width: 33.333%;
  justify-content: center;
  position: relative;
  display: flex;
  border-right: 1px solid #f0f0f5;
  margin: 0 !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

li.activities-stat {
  border-right: none;
}

.dashboard-stats a,
.list-group-flush a,
.training-log .card-link{
  text-decoration: none;
  color: #525252;
}

.training-log .card-link:hover,
.dashboard-stats p:hover {
  color: #0d6efd;
}
.dashboard-stats p {
  color: #000;
}

.list-group-flush a:hover {
  color: #fc5200;
}
@media screen and (max-width: 1880px) {
  .language-dropdown {
    top: 238px;
  }
}

@media screen and (max-width: 1024px) {
  .language-dropdown {
    top: 282px;
  }
}

@media screen and (max-width: 992px){
  /* Showing the dropdown items content by default when the hamburger is open. */
  .dropdown-menu.show {
    display: contents !important;
  }

  .dropdownEffect {
    border: none;
  }

  /* Displaying the start trial btn center and breathing space top & bottom. */
  .start-trial-btn {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a.experiment.btn.btn-sm.btn-primary.d-flex.align-items-center.nav-link {
    padding: 12px 32px;
}

  /* Hiding the cancel btn, notifications, userAvatar and userUpload icons on smaller screens. */
  button.cancel-search-btn,
  .notifications-wrapper,
  a#userAvatar,
  a#userUpload {
    display: none;
  }

  /* Giving User upload some breathing space at the top. */
  #userUploadWrapper {
    padding-top: 30px;
  }

  /* Making the userAvatar and userUpload links text be fixed to left. */
  .flipped-text {
    padding-left: 0px !important;
  }

  /* Making the userAvatar and upload clickable from a full width perspective. */
  #fullWidthUserAvatar,
  #fullWidthUserUpload {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .language-dropdown {
    top: 396px;
  }

  img#strava-logo-footer {
    padding-right: 40px;
    margin-top: -58px;
  }
}

@media screen and (max-width: 425px) {
  .language-dropdown {
    top: 1196px;
  }
}

@media screen and (max-width: 320px) {
  .language-dropdown {
    top: 1266px;
  }
}