body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f8f5 !important;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

/* When text is highlight apply style */
::selection {
  color: #fff;
  background-color: #fc5200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MAIN NAVBAR STYLES */

/* search icon */

/* Making header fixed for scrolling*/
nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light {
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.068);
  z-index: 1;
}

/* container that wraps around the nav elements */
div.container-fluid {
  height: 55px !important; 
  max-width: 1260px !important;
  display: flex;
  align-items: center;
 }

 .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0rem !important;
}
 
 .navbar {
   --bs-navbar-padding-y: 0rem !important;
   --bs-navbar-toggler-padding-y: 0rem !important;
   --bs-navbar-brand-padding-y: 0rem !important;
 } 
 
 a.mr-auto.navbar-brand {
   height: 55px;
   padding-left: 8px;
 }

 button.navbar-toggler {
  margin-right: 18px;
  border: none;
}

.open-search-icon {
  font-size: 24px;
  transform: rotate(55deg); 
}

.cancel-search-icon {
  font-size: 24px;
}
.cancel-search-btn {
  background-color: #f7f7fa00;
  border-color:#f7f7fa00;
}

.select-input {
    padding-right: 12px;
}

/* dropdown */
.dropdown-menu.show {
  border-bottom: 2px solid #fc5200;
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}


.dropdownEffect {
    border-top: 1px solid lightgray;
    margin-top: -10px;
}

/* CSS transitions to smoothly animate changes */
.dropdown-menu {
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform-origin: top;
  opacity: 0;
  transform: scaleY(0);
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: scaleY(1);
}


/* Remove the border from the default state of .nav-item.dropdown: */
.nav-item.dropdown {
  transition: lightgrey 0.3s ease;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}



.nav-item.dropdown:hover {
  border-color: lightgray; /* Change border color on hover */
}

.dropdown-menu.show:hover {
    display: block;
}

/* Dashboard */
.dashboard-dropdown-subscription,
.training-dropdown-subscription,
.explore-dropdown-subscription {
  background-color: #f7f7fa;
}

.dashboard-dropdown-subscription h6,
.training-dropdown-subscription h6,
.explore-dropdown-subscription h6 {
  font-size: 10px;
  padding: 12px 12px 0;
}

/* Remove the ::after content from dropdown-toggle */
.navbar .nav-link.dropdown-toggle::after,
.navbar .nav-link.training-toggle::after,
.navbar .nav-link.explore-toggle::after{
    content: none;
}

svg.dashboard-dropdown-icon,
svg.training-dropdown-icon,
svg.explore-dropdown-icon {
    font-size: 32px;
}

/* user side navigation */
/* Override Bootstrap styles for the button */
.experiment.btn.btn-primary:focus,
.experiment.btn.btn-primary:active {
    background-color: #fc5200 !important;
    border-color: #fc5200 !important;
    color: #fff !important;
}

.experiment.btn.btn-primary:hover {
    background-color: rgb(211, 70, 1);
    border-color: rgb(187, 62, 1);
    color: rgb(242, 240, 237);
}

/* Keep the normal state styles */
.experiment.btn.btn-primary {
    background-color: #fc5200;
    border-color: #fc5200;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    padding: 5px 20px 5px 20px;
}

#notifications {
    margin-left: 24px;
    font-size: 26px;
}

#notifications,
#userAvatar,
#userUpload {
  font-size: 22px;
}

.mdOutlineNotificationsNone-icon {
  font-size: 26px;
}

.flipped-dropdown-horizontal,
.flipped-text {
  transform: scaleX(-1);
}

.upload-center-wrapper {
    display: flex;
    align-items: center;
}

.upload-icons{
  font-size: 20px;
  margin-right: 10px;
}

.biSolidUserCircle-icon {
  padding-right: 5px;
  font-size: 32px;
}

a#dashboardDropdown:hover,
a#trainingDropdown:hover,
a#exploreDropdown:hover,
a#notifications:hover,
a#challengesLink:hover {
    color: #fc5200;
    transition: 0.1s ease;
}

#userUpload,
.hovered .explore-dropdown-icon {
  color: #fc5200;
}

/* dropdown styles */
div#basic-navbar-nav {
  background-color: #f8f9fa;
  padding-left: 20px !important;
  padding-right: 14px;

}

/* We are aligning our userAvatar and userProfiles based on screen sizes. */
.align-left {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

/* CSS styles for the hamburger icon and the X icon. */
.menu-icon {
  display: inline-block;
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 2px;
  background-color: rgb(24, 26, 27);
  border-color: rgb(115, 107, 94);
  margin: 6px 0;
  transition: 0.4s;
}

.menu-icon-close .bar1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.menu-icon-close .bar2 {
  opacity: 0;
}

.menu-icon-close .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

#xHamburger {
  display: block;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

button.navbar-toggler.collapsed {
  border: transparent;
}

button.icon-button {
  background-color: transparent;
  border: none;
  padding-left: 0px;
  z-index: 999;
}

.icon-button.user-upload,
.icon-button.color {
  color: #fc5200;
}

/* footer styles */
footer h4 {
  font-size: 20px !important;
  line-height: 18px;
  color: #000;
}

#promos-footer {
  background-color: #f7f7fa;
  color: #494950;
  padding: 24px 0;
}

.col-md-4.promo {
  padding: 16px 16px 0px 16px;
}

.main-footer {
  background-color: #f9f8f5;
  color: #494950;
  padding: 50px 20px 20px 20px;
}
.main-footer a {
  color: #6d6d78;
  text-decoration: none;
}

#promos-footer .light {
  color: #6d6d78;
}

#promos-footer .promo a {
  color: #494950;
  text-decoration: none;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}
.main-footer li {
  padding-bottom: 5px;
}

img#strava-logo-footer {
  padding-right: 24px;
  margin-top: -62px;
}

/* Footer must always be at the very bottom */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  padding-top: 40px;
}

.promo-link {
  font-size: 15px;
}

.promo-link:hover,
a.strava-stories-link:hover {
  color: #007FB6!important;
}

p.strava-stories-para {
  color: #000;
  font-size: 15px;
}

/* Dropdown styles for for the languages button in the footer */
.selection {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #242428;
}

.dropdown-wrapper {
  position: relative;
}

#languages-select {
  background-color: #fff;
  color: #000;
  position: relative;
  display: inline-block;
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}
select#languages-select {
  border-radius: 5px;
}
#languages-select:hover {
  color: #000;
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}

#languages-select:focus {
  outline: 2px rgba(0,127,182,0.5) solid;
    outline-offset: 1px;
}

/* Home Dashboard styling */
.dashboard-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 30px;
}

/* LeftDashboardAthleteSidebar component */
.athlete-stats-card.card,
.card {
  background-color: #fff;
    box-shadow: 0 8px 24px rgba(13,13,18,.04);
    position: relative;
    border: none;
}

#athlete-stats-body-wrapper {
  border-bottom: 1px solid #f0f0f5;
  padding-bottom: 0px;
}

#recoveryWeek-cardStyle {
  background-color: #fff;
    box-shadow: 0 8px 24px rgba(13,13,18,.04);
    border: none;
}

.latestActivityText {
  font-size: 12px;
}

a.morningRun-style {
  font-size: 16px;
}

a.morning-run-link {
  color: #000!important;
  font-size: 18px;
} 

.morning-run-time {
  font-size: 14px;
}

.dotSpan {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}

p.recovery-week-first-para {
  font-size: 14px;
} 
p.recovery-week-second-para {
  font-size: 15px;
  color: #525252;
}


/* second half of the LeftDashboardAthleteSidebar */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
ul.mb-3.recoveryWeek.nav.nav-tabs.nav-fill {
  border: none;
}

.athlete-stats-card {
  margin-bottom: 20px;
}

#athleteStatsCardImg {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-top: -30px;
}

.card-title.h5 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 110%;
  font-weight: 800;
  text-align: center;
}

.dashboard-stats {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  align-items: stretch;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  flex-wrap: nowrap;
}

.dashboard-stats span {
  font-size: 14px;
  line-height: 16px;
  color: #525252;
  font-weight: 300;
}

ul.dashboard-stats p {
  font-size: 20px;
}

svg.trainingLogIcon {
  font-size: 32px;
  rotate: -90deg;
}

.training-log.card-body {
  border-top: 1px solid #f0f0f5;
}

a#goals-log-link,
a#training-log-link {
  display: flex;
  align-items: center;
  gap: 85px;
}

a#goals-log-link  .trainingLogIcon {
  float: right;
}

#training-log-link:hover, 
#goals-log-link:hover {
  color: #007FB6
}
a#goals-log-link {
  color: #000;
}
/* smooth button transition on the LeftDashboardAthleteSidebar */
#training-log-link .trainingLogIcon,
#goals-log-link .trainingLogIcon {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

#training-log-link:hover .trainingLogIcon,
#goals-log-link:hover .trainingLogIcon {
  opacity: 2;
  transform: translateY(2.5px) scale(1.5);
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}


.dashboard-stats li {
  width: 33.333%;
  justify-content: center;
  position: relative;
  display: flex;
  border-right: 1px solid #f0f0f5;
  margin: 0 !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

li.activities-stat {
  border-right: none;
}

.dashboard-stats a,
.list-group-flush a,
.training-log .card-link{
  text-decoration: none;
  color: #525252;
}

.training-log .card-link:hover,
.dashboard-stats p:hover {
  color: #0d6efd;
}
.dashboard-stats p {
  color: #000;
}

.list-group-flush a:hover {
  color: #fc5200;
}

svg.informationIcon {
  margin-left: 114px;
  font-size: 18px;
}

.relativeEffortTitleStyle {
  background-color: white;
  width: 18rem;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -10px;
  display: flex;

}

.arrowIcon {
  font-size: 22px;
  color: #fc5200;
  margin-right: 8px;
}

ul.mb-3.recoveryWeek.nav.nav-tabs.nav-fill {
  margin-bottom: 0!important;
}

#recoveryWeekImg {
  padding-bottom: 24px;
}

#startFreeTrialBtn {
  width: 100%;
  background-color: #ffffff;
  color: #000;
  border-color: #f0f0f5;
}

#startFreeTrialBtn:hover, #startFreeTrialBtn:active, #startFreeTrialBtn:focus  {
  background-color: #f0f0f5;
  color: #000;
}

#startFreeTrialBtn:focus {
  outline: 2px rgba(0,127,182,0.5) solid;
  outline-offset: 1px;
}

/* Goals tab */
.relativeEffortTitleStyle p {
  font-size: 12px;
  color: grey;
}

.goals-tab-text {
  background-color: #f9f8f5;
  padding: 1rem;
}

.goals-tab-text p {
  margin-bottom: 0px;
  line-height: initial;
    font-size: 15px;
}

p.recoveryLastWeekText.card-text {
  color: grey;
}

.thisWeek-para {
  font-size: 12px;
  margin-bottom: 10px;
}

.recoveryLastWeekText {
  font-size: 12px;
}

.recoveryLastWeekTitle.card-title.h5 {
  color: rgb(171, 169, 165);
  font-size: 20px;
  text-align: start;
}

.thisWeek-numbers {
  font-size: 20px;
}

.goals-tab-stats {
  line-height: initial;
}

.goals-tab-text a {
  color: #fc5200;
  text-decoration: none;
}

.goals-tab-text a:hover {
  text-decoration: underline;
}

.goals-tab-cardText {
  border-bottom: 1px solid #f0f0f5;
  padding-bottom: 20px;
}

p.weekStats-cardText.card-text,
p.weekStats-cardText-second.card-text {
  text-align: center;
}

p.weekStats-cardText-second.card-text {
  border-top: 1px solid #f0f0f5;
  border-bottom: 10px solid #d3d1cd;
  padding-top: 20px;
  margin-bottom: 40px;
}

.goals-tab-progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rangeSpan {
  padding-right: 10px;
}

#mileSpan {
  border-left: 2px solid #f3f2ed;
  padding-left: 10px;
}

svg.runningIcon, 
svg.bikingIcon,
svg.swimmingWaveIcon {
  margin-left: 20px;
}

.nav {
  --bs-nav-link-color: #000!important;
  --bs-nav-link-hover-color: #000!important;
}
/* Home page structure */
.App .mt-5.container,
.container.footerMaxWidth {
  max-width: 1254px !important;
  padding-right: 20px;
  padding-left: 20px;
}

.container.footerMaxWidth {
  font-size: 15px;
}

/* RightDashboardAthleteSidebar component styles */
.challenges-header-wrapper,
.find-FriendsIcon-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.RightDashboardAthleteSidebar-Col.col-lg-3.col-md-6.col-12 {
  padding-left: 0px;
  margin-left: -4px;
}

.find-FriendsIcon-wrapper {
  padding-top: 22px;
}
.view-all-friends-btn-wrapper {
  margin-right: -26px;
}
.challengesIcon {
  border: 1px solid #d3d1cd;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  padding: 10px;
}

.find-FriendsIcon {
    border: 1px solid #d3d1cd;
    background-color: #fff;
    height: -webkit-fill-available;
    padding: 10px;
    border-radius: 50%;
}

.find-Friends-wrapper {
  padding-bottom: 22px;
}

.challenges-wrapper h4 {
  font-size: 18px;
}
.challenges-wrapper p,
.find-Friends-wrapper p {
  font-size: 14px;
  justify-content: flex-start;
  margin-bottom: 10px;
}

button.view-all-challenges-btn,
button.view-all-friends-btn {
  color: #fc5200;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 2px;
}

button.view-all-challenges-btn:hover,
button.view-all-friends-btn:hover {
  background-color: #ffe1d2;
  color: #fc5200;
  border: none;
}

button.view-all-challenges-btn::after,
button.view-all-challenges-btn:focus,
button.view-all-challenges-btn:visited,
button.view-all-friends-btn::after,
button.view-all-friends-btn:focus,
button.view-all-friends-btn:visited,
button.view-all-friends-btn:after {
  border: none;
  --bs-btn-active-bg: #ffe1d2;
  --bs-btn-active-color: #fc5200;
  --bs-btn-active-bg: #ffe1d2;
  --bs-btn-active-border-color: #ffe1d2;
}

/* RightDashboardAthleteSidebar component - Your Goals card section */

h5.your-goals-heading,
h5.find-Friends-heading {
  font-size: 18px;
  font-weight: 600;
}

#list-clubs-wrapper {
  border-top: 1px solid #f0f0f5;
  padding-top: 28px;
}

.your-goals-image-wrapper {
  display: flex;
  gap: 8px;
}

img#vikingMarathonImg,
img#witArenaImg {
  width: 80%;
}



button.view-all-clubs-btn,
button.view-all-clubs-btn:after {
  background-color: #fff;
  border-color: #b6b3ac;
  color: #2b2b2b;
  font-size: 14px;
  padding: 5px 8px 5px 8px;
  font-weight: 700;
  margin-top: 8px;
  border-radius: 4px;
}

button.view-all-clubs-btn {
  margin-bottom: 20px;
}

button.view-all-clubs-btn:hover,
button.view-all-clubs-btn:visited,
button.view-all-clubs-btn:focus {
  background-color: #e6e6e6;
  border-color: #d3d1cd;
  color: #2b2b2b;
  --bs-btn-active-color: #2b2b2b;
  --bs-btn-active-bg: #d3d1cd;
  --bs-btn-active-border-color: #d3d1cd;
}

ul.modulelist,
ul.module-btn-list {
  margin-bottom: .75rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem 1rem;
  font-size: 14px;
  padding-left: 0px;
  padding-top: 12px;
}
ul.modulelist li,
ul.module-btn-list {
  list-style: none;
}

ul.modulelist li a{
  color: #000;
}
ul.modulelist li a:hover {
  text-decoration: underline;
  color: #007FB6;
}

#module-dropdownBtn-list,
#control-dropdownBtn-list,
#uiSocialsBtn-dropdownBtn-list,
#userActivities-dropdownBtn-list {
  align-items: center;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(211, 209, 205);
  color: #000;
  height: 40px;
  gap: 14px;
}

.userActivities-dropdownBtn-list .dropdownUp-icon {
  margin-right: 0px!important;
}

button#module-dropdownBtn-list:hover,
#control-dropdownBtn-list:hover,
#uiSocialsBtn-dropdownBtn-list:hover,
#userActivities-dropdownBtn-list:hover {
  border-color: #000;
}

#dropdownUp a.dropdown-item:hover {
  background-color: #f9f8f5;
  color: #525252;
}

a.control-dropDown-link.dropdown-item:hover {
  color: #1274bc!important;
  text-decoration: underline;
}

a.userActivities-dropDown-link:hover {
  color: #1274bc!important;
  background-color: #f9f8f5;
}


.complianceBtn:hover {
  text-decoration: none!important;
}

#module-btn-list-dropdown,
#userActivities-btn-list-dropdown {
  opacity: 100%;
  border-radius: 1px;
  border: 1px solid rgb(211, 209, 205);
  /* languages dropdown scroll bar */
  max-height: 370px;
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #cccccc #f0f0f0; /* For Firefox */

  /* For WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cccccc;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
}

a.dropdown-item {
  padding-left: 26px;
  padding-right: 26px;
  font-size: 17px;
}
#dropdownUp .dropdown-toggle::after,
#userActivities .dropdown-toggle::after,
#uiSocialsBtn .dropdown-toggle::after {
  content: none;
}



.dropdownUp-icon {
  font-size: 28px;
  margin-right: -10px;
}

.strava-copy-right {
  padding-top: 10px;
  color: #000;
}

.challenges-header-wrapper.card-header{
  padding-bottom: 14px;
}

#athleteSidebar-wrapper,
#athleteSidebar-wrapper .list-group,
.challenges-header-wrapper.card-header,
.list-clubs-wrapper {
  border: none;
  background-color: #f9f8f5;
  --bs-list-group-bg: #f9f8f5;
  box-shadow: none;
}
.list-group-item {
  border-bottom: 1px solid #f0f0f5!important;
}

.list-clubs-wrapper {
  border-top:  1px solid #f0f0f5!important;
  padding-top: 24px;
}


/* CenterDashboardAthleteSidebar component UI Feed */
.feed-ui-card {
  display: flex;
  justify-content: flex-start;
}

img#feed-ui-user-image {
  border-radius: 50%;
  width: 44px;
  margin-right: 18px;
}

p.feed-ui-user-name {
  margin-bottom: 0px;
}

@media screen and (max-width: 1880px) {
  .language-dropdown {
    top: 238px;
  }
}

@media screen and (max-width: 1200px) {
  .RightDashboardAthleteSidebar-Col {
    display: none;
  }

  .centerResize.col-lg-6.col-md-12.col-12 {
    width: 63%;
  }

div.container-fluid,
.container.footerMaxWidth {
  max-width: 1040px !important;
}
}

@media screen and (max-width: 1091px) {
  .centerResize.col-lg-6.col-md-12.col-12 {
    width: 73%;
  }
}

@media screen and (max-width: 1024px) {
  .language-dropdown {
    top: 282px;
  }

}

@media screen and (max-width: 992px){
  /* Showing the dropdown items content by default when the hamburger is open. */
  .dropdown-menu.show {
    display: contents !important;
  }

  .dropdownEffect {
    border: none;
  }
 /* home page break points */
  .LeftDashboardAthleteSidebar-Col {
    display: none;
  }
  .centerResize.col-lg-6.col-md-12.col-12 {
    width: 100%;
}
  /* Displaying the start trial btn center and breathing space top & bottom. */
  .start-trial-btn {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a.experiment.btn.btn-sm.btn-primary.d-flex.align-items-center.nav-link {
    padding: 12px 32px;
}

  /* Hiding the cancel btn, notifications, userAvatar and userUpload icons on smaller screens. */
  button.cancel-search-btn,
  .notifications-wrapper,
  a#userAvatar,
  a#userUpload {
    display: none;
  }

  /* Giving User upload some breathing space at the top. */
  #userUploadWrapper {
    padding-top: 30px;
  }

  /* Making the userAvatar and userUpload links text be fixed to left. */
  .flipped-text {
    padding-left: 0px !important;
  }

  /* Making the userAvatar and upload clickable from a full width perspective. */
  #fullWidthUserAvatar,
  #fullWidthUserUpload {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .language-dropdown {
    top: 396px;
  }

  img#strava-logo-footer {
    padding-right: 40px;
    margin-top: -58px;
  }
}

@media screen and (max-width: 425px) {
  .language-dropdown {
    top: 1196px;
  }
}

@media screen and (max-width: 320px) {
  .language-dropdown {
    top: 1266px;
  }
}