@import "./styles/common/buttons.css";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f9f8f5 !important;
	font-size: 14px;
	line-height: 18px;
	color: #000;
}

/* When text is highlight apply style */
::selection {
	color: #fff;
	background-color: #fc5200;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@media screen and (max-width: 1200px) {
	.centerResize.col-lg-6.col-md-12.col-12 {
		width: 63%;
	}

	div.container-fluid,
	.container.footerMaxWidth {
		max-width: 1040px !important;
	}
}

@media screen and (max-width: 1091px) {
	.centerResize.col-lg-6.col-md-12.col-12 {
		width: 73%;
	}
}

@media screen and (max-width: 992px) {
	/* home page break points */
	.LeftDashboardAthleteSidebar-Col {
		display: none;
	}
	.centerResize.col-lg-6.col-md-12.col-12 {
		width: 100%;
	}
}
